.App {
  text-align: center;
}

.heading{
  font-family: 'Poppins';
  margin: 1% 1% 0% 3%;
  font-size: 3rem;
  color: hsl(259, 100%, 65%);
}

h1{
  text-align: left;
  margin-left: 2%;
  font-family: 'Poppins';
  font-size: 2rem;
}

.mainBox{
  background-color: white;
  padding: 5%;
  border-bottom-right-radius: 30%;
  margin: auto;
  margin-top: 20%;
  width: 80%;
  z-index: 1;
}

.inputGroup{
  display: inline-block;
  width: 30%;
}

.label{
  color: hsl(0, 1%, 44%);
  font-family: 'Poppins';
  font-size: 0.8rem;
  font-weight: lighter;
  margin-left: 0%;
}

.input {
  width: 40px;
  padding: 5px;
  border: solid grey 0.01px;
  border-radius: 8%;
}

.error-label{
  color: red;
  font-family: 'Poppins';
  font-size: 0.8rem;
  font-weight: lighter;
  margin-left: 0%;
}

.error-input{
  border: solid red 0.01px;
  width: 40px;
  padding: 5px;
  border-radius: 8%;
}

.errorMessage{
  color: red;
  font-size: 0.7rem;
}

hr{
  margin: 4% 10% 2% 10%;
}

.btn{
  border-radius: 80%;
  background-color: hsl(259, 100%, 65%);
}

.btn:hover{
  cursor: pointer;
}

span{
  color: hsl(259, 100%, 65%);
}

footer{
  position: fixed;
  margin: 0%;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 650px){
  .heading{
    margin: 5% 25% 2% 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .heading{
    margin: 2% 5% 4% 32%;
    font-size: 4rem;
  }
  .mainBox{
    border-bottom-right-radius: 25%;
    margin-top: 3%;
    width: 20%;
    padding: 3%;
  }
  .inputGroup{
    margin-right: 3%;
  }
  hr{
    margin: 5% 0% 1% 0%;
  }
  .btn{
    display: inline;
    border-radius: 50%;
    float: right;
  }
  h1{
    line-height: 2rem;
  }
}